h2{
    margin: 0 auto ;
    background-color: pink ;
    padding: 15px;
    text-align:center;
    font-size: 50px;
    font-weight: lighter;
    border-top: 0.5px solid palevioletred;

}

.card{
    border: 3px solid rgb(156, 48, 84);
    width: 250px;
    margin: 25px;
}

.centrado{
    font-weight: 150;
    color: rgb(156, 48, 84);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center
   
}

.addCart{
    color: pink;
    background-color: rgb(156, 48, 84);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}