.header{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
}

.header :hover{
    color: palevioletred;
}

.logo{
    height: 50px;
}